---
import Icon from "./Icon.astro";
---

<header class="flex justify-between items-center py-3 w-[1120px]">
<Icon name="user-icon" className="rounded-full w-14 h-14"/>


    <nav>
        <ul class="flex flex-row gap-x-10 opacity-80">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>