---

---

<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">

    <nav>
        <ul class="flex flex-row gap-x-10 opacity-80 flex-wrap text-lg font-medium p-1 gap-y-1 text-yellow-200/90">
            <li class="hover:opacity-100 transition hover:scale-110 hover:text-yellow-200"><a href="#home">Home</a></li>
            <li class="hover:opacity-100 transition hover:scale-110 hover:text-yellow-200"><a href="#experience">Experience</a></li>
            <li class="hover:opacity-100 transition hover:scale-110 hover:text-yellow-200"><a href="#projects">Projects</a></li>
            <li class="hover:opacity-100 transition hover:scale-110 hover:text-yellow-200"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>